In [2]:
import pandas as pd

In [8]:
df = pd.read_csv('evaluaciones_partida.csv')

In [9]:
df.head()

,White,Black,Result,WhiteElo,BlackElo,ECO,TimeControl,Termination,AN,ECO_Family,evals
0,eortass,lichess AI level 4,{'string': 'NNUE evaluation using nn-37f18f62d...,1500,?,C48,3600+0,Normal,1. e4 e5 2. Nf3 Nc6 3. Nc3 Nf6 4. Bb5 Bc5 5. O...,C,"[-0.35, 0.4, -0.37, 0.29, -0.12, 0.13, -0.05, ..."

In [10]:
df['evals'][0]

'[-0.35, 0.4, -0.37, 0.29, -0.12, 0.13, -0.05, 0.36, -0.37, 0.29, 0.11, 0.24, 0.18, 0.37, -0.4, 0.44, -0.53, 0.56, -0.37, 0.49, 1.51, -1.66, 1.75, -1.75, 1.7, 0.0, 0.62, 1.67, 0.48, -0.71]'

In [2]:
import re
import pandas as pd

log_file_path = '../Analisis2.log'
with open(log_file_path, 'r') as file:
    log_content = file.read()

eval_values = re.findall(r'[\+\-]?\d+[,\.]\d{2}', log_content)

eval_values = [float(value.replace(',', '.')) for value in eval_values]

df = pd.DataFrame(eval_values, columns=['eval'])

# Mostrar el DataFrame
df.head()

   eval
0  0.06
1 -0.04
2  0.12
3 -0.12
4  0.12