In [35]:
import re

log_file_path = '../Analisis2.log'
with open(log_file_path, 'r') as file:
    log_content = file.read()

eval_values = re.findall(r'[\+\-]?\d+[,\.]\d{2}', log_content)

eval_values = [float(value.replace(',', '.')) for value in eval_values]

print(eval_values)

[0.06, -0.04, 0.12, -0.12, 0.12, -0.02, 0.69, -0.6, 4.55, -4.56, 5.15, 0.02, 4.3, -2.88]

In [38]:
import pandas as pd

df = pd.DataFrame({'eval': [eval_values]})

# Mostrar el DataFrame
df.head()

                                                eval
0  [0.06, -0.04, 0.12, -0.12, 0.12, -0.02, 0.69, ...