In [ ]:
import pandas as pd
import chess
from tqdm import tqdm

df = pd.read_csv('../data/raw/df_chess.csv')

In [22]:
df.head(2)

,White,Black,Result,WhiteElo,BlackElo,ECO,TimeControl,Termination,AN,ECO_Family,evals
0,t_b,Itseyce,-1,1569,1496,C01,60+0,Normal,1. e4 { [%eval 0.24] } 1... e6 { [%eval 0.22] ...,C,"[0.24, 0.22, 0.32, 0.15, 0.23, 0.13, 0.06, -0...."
1,Itseyce,gustavocesarpelli,1,1509,1433,A25,60+0,Normal,1. c4 { [%eval 0.06] } 1... e5 { [%eval 0.04] ...,A,"[0.06, 0.04, -0.03, 0.0, 0.0, -0.2, -0.05, -0...."

In [23]:
df['AN'][0]

'1. e4 { [%eval 0.24] } 1... e6 { [%eval 0.22] } 2. d4 { [%eval 0.32] } 2... d5 { [%eval 0.15] } 3. exd5 { [%eval 0.23] } 3... exd5 { [%eval 0.13] } 4. Bb5+ { [%eval 0.06] } 4... c6 { [%eval -0.05] } 5. Bd3 { [%eval -0.11] } 5... Bd6 { [%eval 0.04] } 6. c3 { [%eval -0.31] } 6... Nf6 { [%eval -0.36] } 7. Qc2 { [%eval -0.53] } 7... O-O { [%eval -0.51] } 8. Ne2 { [%eval -0.5] } 8... Bg4 { [%eval -0.21] } 9. Bg5 { [%eval -0.41] } 9... Nbd7 { [%eval 0.51] } 10. Bxf6 { [%eval -0.85] } 10... Nxf6 { [%eval -0.88] } 11. f3 { [%eval -1.04] } 11... Bh5 { [%eval -1.03] } 12. g4 { [%eval -2.42] } 12... Bg6 { [%eval -1.35] } 13. Nd2 { [%eval -1.38] } 13... Bxd3 { [%eval -1.04] } 14. Qxd3 { [%eval -0.96] } 14... Qc7 { [%eval -0.91] } 15. O-O-O { [%eval -1.01] } 15... Rfe8 { [%eval -0.94] } 16. Kc2 { [%eval -1.01] } 16... a5 { [%eval -1.1] } 17. a3 { [%eval -1.54] } 17... b5 { [%eval -1.35] } 18. g5 { [%eval -2.05] } 18... Nh5 { [%eval -1.8] } 19. Ng3 { [%eval -4.17] } 19... Nf4 { [%eval -4.03] } 20. Qf1 { [%eval -4.38] } 20... b4 { [%eval -3.89] } 21. a4 { [%eval -6.08] } 21... bxc3 { [%eval -5.84] } 22. bxc3 { [%eval -4.97] } 22... Rab8 { [%eval -4.5] } 23. Rb1 { [%eval -4.69] } 23... Ba3 { [%eval -3.22] } 24. Rxb8 { [%eval -3.04] } 24... Rxb8 { [%eval -3.06] } 25. Nb1 { [%eval -22.93] } 25... Rb2+ { [%eval -21.03] } 26. Kd1 { [%eval -19.32] } 0-1'

In [ ]:
import re

def extraer_jugadas_san(anotacion):
    limpio = re.sub(r'\{ \[%eval [^\}]*\] \}', '', anotacion)
    limpio = re.sub(r'\d+\.(\.\.)?', '', limpio)
    limpio = re.sub(r'\s+', ' ', limpio).strip()
    limpio = re.sub(r'\s*(1-0|0-1|1/2-1/2)\s*$', '', limpio)

    jugadas = limpio.split(' ')

    return jugadas

In [25]:
ejemplo = df['AN'][0]
jugadas = extraer_jugadas_san(ejemplo)

print(jugadas[:10])  # ['e4', 'e6', 'd4', 'd5', 'exd5', 'exd5', 'Bb5+', 'c6', 'Bd3', 'Bd6']

['e4', 'e6', 'd4', 'd5', 'exd5', 'exd5', 'Bb5+', 'c6', 'Bd3', 'Bd6']

In [ ]:
import pandas as pd
import re
from tqdm import tqdm


def extraer_jugadas_san(anotacion):
  
    if pd.isna(anotacion) or anotacion.strip() == '':
        return []

    limpio = re.sub(r'\{ \[%eval [^\}]*\] \}', '', anotacion)
    limpio = re.sub(r'\d+\.(\.\.)?', '', limpio)
    limpio = re.sub(r'\s+', ' ', limpio).strip()
    limpio = re.sub(r'\s*(1-0|0-1|1/2-1/2)\s*$', '', limpio)

    jugadas = limpio.split(' ')

    return jugadas


df = pd.read_csv('../data/raw/df_chess.csv')

tqdm.pandas()  
df['SAN'] = df['AN'].progress_apply(extraer_jugadas_san)

# Ver ejemplo
print(df[['AN', 'SAN']].head(1))

100%|██████████| 21411/21411 [00:01<00:00, 11287.14it/s]

                                                  AN  \
0  1. e4 { [%eval 0.24] } 1... e6 { [%eval 0.22] ...

                                                 SAN
0  [e4, e6, d4, d5, exd5, exd5, Bb5+, c6, Bd3, Bd...

In [31]:
df = df.drop(['AN'],axis=1)
df.head()

,White,Black,Result,WhiteElo,BlackElo,ECO,TimeControl,Termination,ECO_Family,evals,SAN
0,t_b,Itseyce,-1,1569,1496,C01,60+0,Normal,C,"[0.24, 0.22, 0.32, 0.15, 0.23, 0.13, 0.06, -0....","[e4, e6, d4, d5, exd5, exd5, Bb5+, c6, Bd3, Bd..."
1,Itseyce,gustavocesarpelli,1,1509,1433,A25,60+0,Normal,A,"[0.06, 0.04, -0.03, 0.0, 0.0, -0.2, -0.05, -0....","[c4, e5, Nc3, Nc6, d3, Nf6, g3, Bb4, Bg5, d6, ..."
2,peapea,dojocleaninh,-1,1338,1864,C21,60+0,Time forfeit,C,"[0.25, 0.31, 0.16, 0.15, 0.01, 0.01, -0.19, -0...","[e4, e5, d4, exd4, c3, d5, Qxd4, dxe4, Qxd8+, ..."
3,bound7,accionado,1,1534,1599,A00,60+0,Normal,A,"[-0.24, 0.05, -0.33, -0.03, -0.27, -0.17, -0.2...","[g3, d5, Bg2, e6, f4, Nf6, Nf3, Nc6, O-O, Bd6,..."
4,altuntun,lchuza_otro,-1,1361,1594,B20,60+0,Normal,B,"[0.31, 0.37, -1.0, -1.3, -2.2, -1.34, -1.63, -...","[e4, c5, Ke2, Nc6, Ke3, d6, Ke2, e5, Ke1, Nf6,..."

In [32]:
df['evals'][0]

'[0.24, 0.22, 0.32, 0.15, 0.23, 0.13, 0.06, -0.05, -0.11, 0.04, -0.31, -0.36, -0.53, -0.51, -0.5, -0.21, -0.41, 0.51, -0.85, -0.88, -1.04, -1.03, -2.42, -1.35, -1.38, -1.04, -0.96, -0.91, -1.01, -0.94, -1.01, -1.1, -1.54, -1.35, -2.05, -1.8, -4.17, -4.03, -4.38, -3.89, -6.08, -5.84, -4.97, -4.5, -4.69, -3.22, -3.04, -3.06, -22.93, -21.03, -19.32]'

In [33]:
import ast

# Asegurarse de que evals es una lista real, no string
df['evals'] = df['evals'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

In [ ]:
tqdm.pandas()

datos_fen = []


for idx, row in tqdm(df.iterrows(), total=len(df)):
    board = chess.Board()
    partida_id = idx
    jugadas = row['SAN']
    evaluaciones = row['evals']

    for i, jugada in enumerate(jugadas):
        try:
            board.push_san(jugada)
            eval_actual = evaluaciones[i] if i < len(evaluaciones) else None

            datos_fen.append({
                'ID_partida': partida_id,
                'jugada_num': i + 1,
                'SAN': jugada,
                'eval': eval_actual,  
                'turno': 'White' if board.turn == chess.BLACK else 'Black',  
                'FEN': board.fen(),
                'Resultado': row.get('Result', None),
                'White': row.get('White', None),
                'Black': row.get('Black', None),
                'WhiteElo': row.get('WhiteElo', None),
                'BlackElo': row.get('BlackElo', None),
                'ECO': row.get('ECO', None),
                'ECO_Family': row.get('ECO_Family', None),
                'TimeControl': row.get('TimeControl', None),
                'Termination': row.get('Termination', None),
            })
        except Exception:
            break  

df_fens = pd.DataFrame(datos_fen)

df_fens.to_csv('fens_por_jugada_con_evaluacion.csv', index=False)

100%|██████████| 21411/21411 [02:15<00:00, 158.50it/s]

In [35]:
df_fens.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1321193 entries, 0 to 1321192
Data columns (total 15 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   ID_partida   1321193 non-null  int64
 1   jugada_num   1321193 non-null  int64
 2   SAN          1321193 non-null  object
 3   eval         1316155 non-null  float64
 4   turno        1321193 non-null  object
 5   FEN          1321193 non-null  object
 6   Resultado    1321193 non-null  int64
 7   White        1321193 non-null  object
 8   Black        1321193 non-null  object
 9   WhiteElo     1321193 non-null  int64
 10  BlackElo     1321193 non-null  int64
 11  ECO          1321193 non-null  object
 12  ECO_Family   1321193 non-null  object
 13  TimeControl  1321193 non-null  object
 14  Termination  1321193 non-null  object
dtypes: float64(1), int64(5), object(9)
memory usage: 151.2+ MB

In [38]:
df_fens.head()

,ID_partida,jugada_num,SAN,eval,turno,FEN,Resultado,White,Black,WhiteElo,BlackElo,ECO,ECO_Family,TimeControl,Termination,calidad_jugada
0,0,1,e4,0.24,White,rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR ...,-1,t_b,Itseyce,1569,1496,C01,C,60+0,Normal,desconocida
1,0,2,e6,0.22,Black,rnbqkbnr/pppp1ppp/4p3/8/4P3/8/PPPP1PPP/RNBQKBN...,-1,t_b,Itseyce,1569,1496,C01,C,60+0,Normal,buena
2,0,3,d4,0.32,White,rnbqkbnr/pppp1ppp/4p3/8/3PP3/8/PPP2PPP/RNBQKBN...,-1,t_b,Itseyce,1569,1496,C01,C,60+0,Normal,buena
3,0,4,d5,0.15,Black,rnbqkbnr/ppp2ppp/4p3/3p4/3PP3/8/PPP2PPP/RNBQKB...,-1,t_b,Itseyce,1569,1496,C01,C,60+0,Normal,buena
4,0,5,exd5,0.23,White,rnbqkbnr/ppp2ppp/4p3/3P4/3P4/8/PPP2PPP/RNBQKBN...,-1,t_b,Itseyce,1569,1496,C01,C,60+0,Normal,buena

In [ ]:
def clasificar_jugadas(df):
    calidad = []

    for idx, partida in df.groupby('ID_partida'):
        jugadas = partida.sort_values('jugada_num')
        prev_eval = None
        calidad_partida = []

        for eval_actual in jugadas['eval']:
            if prev_eval is None or pd.isna(prev_eval) or pd.isna(eval_actual):
                calidad_partida.append('desconocida')
            else:
                delta = eval_actual - prev_eval

                if delta >= -0.2:
                    calidad_partida.append('buena')
                elif delta >= -0.5:
                    calidad_partida.append('dudosa')
                else:
                    calidad_partida.append('mala')

            prev_eval = eval_actual

        calidad.extend(calidad_partida)

    df['calidad_jugada'] = calidad
    return df

df_fens = clasificar_jugadas(df_fens)

In [ ]:
def extraer_features_fen(fen):
    board = chess.Board(fen)
    
    piezas = board.piece_map().values()
    material_blancas = sum(p.piece_type if p.color else 0 for p in piezas)
    material_negras = sum(p.piece_type if not p.color else 0 for p in piezas)
    
    return {
        'material_blancas': material_blancas,
        'material_negras': material_negras,
        'turno': int(board.turn),  # 1 si blancas, 0 si negras
        'enroque_blancas': int(board.has_kingside_castling_rights(chess.WHITE) or board.has_queenside_castling_rights(chess.WHITE)),
        'enroque_negras': int(board.has_kingside_castling_rights(chess.BLACK) or board.has_queenside_castling_rights(chess.BLACK)),
        'jaque': int(board.is_check()),
        'mate': int(board.is_checkmate())
    }

In [ ]:
def extraer_features_fen(fen):
    board = chess.Board(fen)

    valor_piezas = {
        chess.PAWN: 1,
        chess.KNIGHT: 3,
        chess.BISHOP: 3,
        chess.ROOK: 5,
        chess.QUEEN: 9,
        chess.KING: 0}

    material_blancas = 0
    material_negras = 0

    for pieza in board.piece_map().values():
        valor = valor_piezas.get(pieza.piece_type, 0)
        if pieza.color == chess.WHITE:
            material_blancas += valor
        else:
            material_negras += valor

    return {
        'material_blancas': material_blancas,
        'material_negras': material_negras,
        'diferencia_material': material_blancas - material_negras,
        'turno': int(board.turn),  # 1 = blancas, 0 = negras
        'enroque_blancas': int(board.has_kingside_castling_rights(chess.WHITE) or board.has_queenside_castling_rights(chess.WHITE)),
        'enroque_negras': int(board.has_kingside_castling_rights(chess.BLACK) or board.has_queenside_castling_rights(chess.BLACK)),
        'jaque': int(board.is_check()),
        'mate': int(board.is_checkmate())
    }

In [ ]:
tqdm.pandas() 

# Primero aplicamos la función para el cálculo de jugadas por material y luego lo añadimos al DF
features_df = df_fens['FEN'].progress_apply(extraer_features_fen).apply(pd.Series)
df_fens = pd.concat([df_fens, features_df], axis=1)

100%|██████████| 1321193/1321193 [02:26<00:00, 9002.07it/s]

In [42]:
df_fens.head()

,ID_partida,jugada_num,SAN,eval,turno,FEN,Resultado,White,Black,WhiteElo,...,Termination,calidad_jugada,material_blancas,material_negras,diferencia_material,turno,enroque_blancas,enroque_negras,jaque,mate
0,0,1,e4,0.24,White,rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR ...,-1,t_b,Itseyce,1569,...,Normal,desconocida,39,39,0,0,1,1,0,0
1,0,2,e6,0.22,Black,rnbqkbnr/pppp1ppp/4p3/8/4P3/8/PPPP1PPP/RNBQKBN...,-1,t_b,Itseyce,1569,...,Normal,buena,39,39,0,1,1,1,0,0
2,0,3,d4,0.32,White,rnbqkbnr/pppp1ppp/4p3/8/3PP3/8/PPP2PPP/RNBQKBN...,-1,t_b,Itseyce,1569,...,Normal,buena,39,39,0,0,1,1,0,0
3,0,4,d5,0.15,Black,rnbqkbnr/ppp2ppp/4p3/3p4/3PP3/8/PPP2PPP/RNBQKB...,-1,t_b,Itseyce,1569,...,Normal,buena,39,39,0,1,1,1,0,0
4,0,5,exd5,0.23,White,rnbqkbnr/ppp2ppp/4p3/3P4/3P4/8/PPP2PPP/RNBQKBN...,-1,t_b,Itseyce,1569,...,Normal,buena,39,38,1,0,1,1,0,0

In [ ]:
df_fens.to_csv('../data/raw/df_final.csv', index=False)

In [10]:
df_vector = pd.read_csv('../data/raw/df_final.csv')

In [ ]:
piezas = {
    None: 0,
    chess.PAWN: 1,
    chess.KNIGHT: 2,
    chess.BISHOP: 3,
    chess.ROOK: 4,
    chess.QUEEN: 5,
    chess.KING: 6
}

# Función para vectorizar una posición FEN
def vectorizar_fen(fen):
    board = chess.Board(fen)
    vector = []
    for square in chess.SQUARES:
        piece = board.piece_at(square)
        if piece:
            val = piezas[piece.piece_type]
            val = val if piece.color == chess.WHITE else -val
        else:
            val = 0
        vector.append(val)
    return vector  


tqdm.pandas()
vector_fens = df_final['FEN'].progress_apply(vectorizar_fen)


fen_vector_df = pd.DataFrame(vector_fens.tolist(), columns=[f'FEN_{i}' for i in range(64)])


df_fens_vectorizado = pd.concat([df_fens.reset_index(drop=True), fen_vector_df], axis=1)

df_fens_vectorizado.to_csv('../data/raw/df_fens_vectorizado.csv', index=False)

100%|██████████| 1321193/1321193 [02:07<00:00, 10372.23it/s]

In [ ]:
df_final = pd.read_csv('../data/raw/df_fens_vectorizado.csv')

df_final.head(3)

,ID_partida,jugada_num,SAN,eval,turno,FEN,Resultado,White,Black,WhiteElo,...,FEN_54,FEN_55,FEN_56,FEN_57,FEN_58,FEN_59,FEN_60,FEN_61,FEN_62,FEN_63
0,0,1,e4,0.24,White,rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR ...,-1,t_b,Itseyce,1569,...,-1,-1,-4,-2,-3,-5,-6,-3,-2,-4
1,0,2,e6,0.22,Black,rnbqkbnr/pppp1ppp/4p3/8/4P3/8/PPPP1PPP/RNBQKBN...,-1,t_b,Itseyce,1569,...,-1,-1,-4,-2,-3,-5,-6,-3,-2,-4
2,0,3,d4,0.32,White,rnbqkbnr/pppp1ppp/4p3/8/3PP3/8/PPP2PPP/RNBQKBN...,-1,t_b,Itseyce,1569,...,-1,-1,-4,-2,-3,-5,-6,-3,-2,-4

In [57]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1321193 entries, 0 to 1321192
Data columns (total 88 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   ID_partida           1321193 non-null  int64
 1   jugada_num           1321193 non-null  int64
 2   SAN                  1321193 non-null  object
 3   eval                 1316155 non-null  float64
 4   turno                1321193 non-null  object
 5   FEN                  1321193 non-null  object
 6   Resultado            1321193 non-null  int64
 7   White                1321193 non-null  object
 8   Black                1321193 non-null  object
 9   WhiteElo             1321193 non-null  int64
 10  BlackElo             1321193 non-null  int64
 11  ECO                  1321193 non-null  object
 12  ECO_Family           1321193 non-null  object
 13  TimeControl          1321193 non-null  object
 14  Termination          1321193 non-null  object
 15  calidad_jugada       1321193 non-null  object
 16  material_blancas     1321193 non-null  int64
 17  material_negras      1321193 non-null  int64
 18  diferencia_material  1321193 non-null  int64
 19  turno.1              1321193 non-null  int64
 20  enroque_blancas      1321193 non-null  int64
 21  enroque_negras       1321193 non-null  int64
 22  jaque                1321193 non-null  int64
 23  mate                 1321193 non-null  int64
 24  FEN_0                1321193 non-null  int64
 25  FEN_1                1321193 non-null  int64
 26  FEN_2                1321193 non-null  int64
 27  FEN_3                1321193 non-null  int64
 28  FEN_4                1321193 non-null  int64
 29  FEN_5                1321193 non-null  int64
 30  FEN_6                1321193 non-null  int64
 31  FEN_7                1321193 non-null  int64
 32  FEN_8                1321193 non-null  int64
 33  FEN_9                1321193 non-null  int64
 34  FEN_10               1321193 non-null  int64
 35  FEN_11               1321193 non-null  int64
 36  FEN_12               1321193 non-null  int64
 37  FEN_13               1321193 non-null  int64
 38  FEN_14               1321193 non-null  int64
 39  FEN_15               1321193 non-null  int64
 40  FEN_16               1321193 non-null  int64
 41  FEN_17               1321193 non-null  int64
 42  FEN_18               1321193 non-null  int64
 43  FEN_19               1321193 non-null  int64
 44  FEN_20               1321193 non-null  int64
 45  FEN_21               1321193 non-null  int64
 46  FEN_22               1321193 non-null  int64
 47  FEN_23               1321193 non-null  int64
 48  FEN_24               1321193 non-null  int64
 49  FEN_25               1321193 non-null  int64
 50  FEN_26               1321193 non-null  int64
 51  FEN_27               1321193 non-null  int64
 52  FEN_28               1321193 non-null  int64
 53  FEN_29               1321193 non-null  int64
 54  FEN_30               1321193 non-null  int64
 55  FEN_31               1321193 non-null  int64
 56  FEN_32               1321193 non-null  int64
 57  FEN_33               1321193 non-null  int64
 58  FEN_34               1321193 non-null  int64
 59  FEN_35               1321193 non-null  int64
 60  FEN_36               1321193 non-null  int64
 61  FEN_37               1321193 non-null  int64
 62  FEN_38               1321193 non-null  int64
 63  FEN_39               1321193 non-null  int64
 64  FEN_40               1321193 non-null  int64
 65  FEN_41               1321193 non-null  int64
 66  FEN_42               1321193 non-null  int64
 67  FEN_43               1321193 non-null  int64
 68  FEN_44               1321193 non-null  int64
 69  FEN_45               1321193 non-null  int64
 70  FEN_46               1321193 non-null  int64
 71  FEN_47               1321193 non-null  int64
 72  FEN_48               1321193 non-null  int64
 73  FEN_49               1321193 non-null  int64
 74  FEN_50               1321193 non-null  int64
 75  FEN_51               1321193 non-null  int64
 76  FEN_52               1321193 non-null  int64
 77  FEN_53               1321193 non-null  int64
 78  FEN_54               1321193 non-null  int64
 79  FEN_55               1321193 non-null  int64
 80  FEN_56               1321193 non-null  int64
 81  FEN_57               1321193 non-null  int64
 82  FEN_58               1321193 non-null  int64
 83  FEN_59               1321193 non-null  int64
 84  FEN_60               1321193 non-null  int64
 85  FEN_61               1321193 non-null  int64
 86  FEN_62               1321193 non-null  int64
 87  FEN_63               1321193 non-null  int64
dtypes: float64(1), int64(77), object(10)
memory usage: 887.0+ MB

In [ ]:
# Clasifica jugadas como buena, mala o dudosa en función del cambio de eval
def clasificar_jugada(eval_actual, eval_anterior):
    if pd.isna(eval_actual) or pd.isna(eval_anterior):
        return 'desconocida'
    delta = eval_actual - eval_anterior
    if abs(delta) < 0.15:
        return 'buena'
    elif delta < -0.15:
        return 'error'
    else:
        return 'dudosa'


df_final['eval_anterior'] = df_final.groupby('ID_partida')['eval'].shift(1)

if 'calidad_jugada' not in df_final.columns:
    df_final['calidad_jugada'] = df_final.apply(lambda row: clasificar_jugada(row['eval'], row['eval_anterior']), axis=1)

# Agrupación por partida para obtener los porcentajes
resumen = (
    df_final.groupby('ID_partida')['calidad_jugada']
    .value_counts(normalize=True)
    .unstack(fill_value=0)
    .rename(columns={
        'buena': 'pct_buenas',
        'dudosa': 'pct_dudosas',
        'error': 'pct_errores'
    }))

# Asegurarse de que todas las columnas estén
for col in ['pct_buenas', 'pct_dudosas', 'pct_errores']:
    if col not in resumen.columns:
        resumen[col] = 0.0

df_ml = df_final.merge(resumen, on='ID_partida', how='left')

df_ml.head()

,ID_partida,jugada_num,SAN,eval,turno,FEN,Resultado,White,Black,WhiteElo,...,FEN_60,FEN_61,FEN_62,FEN_63,eval_anterior,pct_buenas,desconocida,pct_dudosas,mala,pct_errores
0,0,1,e4,0.24,White,rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR ...,-1,t_b,Itseyce,1569,...,-6,-3,-2,-4,NaN,0.803922,0.019608,0.058824,0.117647,0.0
1,0,2,e6,0.22,Black,rnbqkbnr/pppp1ppp/4p3/8/4P3/8/PPPP1PPP/RNBQKBN...,-1,t_b,Itseyce,1569,...,-6,-3,-2,-4,0.24,0.803922,0.019608,0.058824,0.117647,0.0
2,0,3,d4,0.32,White,rnbqkbnr/pppp1ppp/4p3/8/3PP3/8/PPP2PPP/RNBQKBN...,-1,t_b,Itseyce,1569,...,-6,-3,-2,-4,0.22,0.803922,0.019608,0.058824,0.117647,0.0
3,0,4,d5,0.15,Black,rnbqkbnr/ppp2ppp/4p3/3p4/3PP3/8/PPP2PPP/RNBQKB...,-1,t_b,Itseyce,1569,...,-6,-3,-2,-4,0.32,0.803922,0.019608,0.058824,0.117647,0.0
4,0,5,exd5,0.23,White,rnbqkbnr/ppp2ppp/4p3/3P4/3P4/8/PPP2PPP/RNBQKBN...,-1,t_b,Itseyce,1569,...,-6,-3,-2,-4,0.15,0.803922,0.019608,0.058824,0.117647,0.0

In [59]:
df_ml.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1321193 entries, 0 to 1321192
Data columns (total 94 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   ID_partida           1321193 non-null  int64
 1   jugada_num           1321193 non-null  int64
 2   SAN                  1321193 non-null  object
 3   eval                 1316155 non-null  float64
 4   turno                1321193 non-null  object
 5   FEN                  1321193 non-null  object
 6   Resultado            1321193 non-null  int64
 7   White                1321193 non-null  object
 8   Black                1321193 non-null  object
 9   WhiteElo             1321193 non-null  int64
 10  BlackElo             1321193 non-null  int64
 11  ECO                  1321193 non-null  object
 12  ECO_Family           1321193 non-null  object
 13  TimeControl          1321193 non-null  object
 14  Termination          1321193 non-null  object
 15  calidad_jugada       1321193 non-null  object
 16  material_blancas     1321193 non-null  int64
 17  material_negras      1321193 non-null  int64
 18  diferencia_material  1321193 non-null  int64
 19  turno.1              1321193 non-null  int64
 20  enroque_blancas      1321193 non-null  int64
 21  enroque_negras       1321193 non-null  int64
 22  jaque                1321193 non-null  int64
 23  mate                 1321193 non-null  int64
 24  FEN_0                1321193 non-null  int64
 25  FEN_1                1321193 non-null  int64
 26  FEN_2                1321193 non-null  int64
 27  FEN_3                1321193 non-null  int64
 28  FEN_4                1321193 non-null  int64
 29  FEN_5                1321193 non-null  int64
 30  FEN_6                1321193 non-null  int64
 31  FEN_7                1321193 non-null  int64
 32  FEN_8                1321193 non-null  int64
 33  FEN_9                1321193 non-null  int64
 34  FEN_10               1321193 non-null  int64
 35  FEN_11               1321193 non-null  int64
 36  FEN_12               1321193 non-null  int64
 37  FEN_13               1321193 non-null  int64
 38  FEN_14               1321193 non-null  int64
 39  FEN_15               1321193 non-null  int64
 40  FEN_16               1321193 non-null  int64
 41  FEN_17               1321193 non-null  int64
 42  FEN_18               1321193 non-null  int64
 43  FEN_19               1321193 non-null  int64
 44  FEN_20               1321193 non-null  int64
 45  FEN_21               1321193 non-null  int64
 46  FEN_22               1321193 non-null  int64
 47  FEN_23               1321193 non-null  int64
 48  FEN_24               1321193 non-null  int64
 49  FEN_25               1321193 non-null  int64
 50  FEN_26               1321193 non-null  int64
 51  FEN_27               1321193 non-null  int64
 52  FEN_28               1321193 non-null  int64
 53  FEN_29               1321193 non-null  int64
 54  FEN_30               1321193 non-null  int64
 55  FEN_31               1321193 non-null  int64
 56  FEN_32               1321193 non-null  int64
 57  FEN_33               1321193 non-null  int64
 58  FEN_34               1321193 non-null  int64
 59  FEN_35               1321193 non-null  int64
 60  FEN_36               1321193 non-null  int64
 61  FEN_37               1321193 non-null  int64
 62  FEN_38               1321193 non-null  int64
 63  FEN_39               1321193 non-null  int64
 64  FEN_40               1321193 non-null  int64
 65  FEN_41               1321193 non-null  int64
 66  FEN_42               1321193 non-null  int64
 67  FEN_43               1321193 non-null  int64
 68  FEN_44               1321193 non-null  int64
 69  FEN_45               1321193 non-null  int64
 70  FEN_46               1321193 non-null  int64
 71  FEN_47               1321193 non-null  int64
 72  FEN_48               1321193 non-null  int64
 73  FEN_49               1321193 non-null  int64
 74  FEN_50               1321193 non-null  int64
 75  FEN_51               1321193 non-null  int64
 76  FEN_52               1321193 non-null  int64
 77  FEN_53               1321193 non-null  int64
 78  FEN_54               1321193 non-null  int64
 79  FEN_55               1321193 non-null  int64
 80  FEN_56               1321193 non-null  int64
 81  FEN_57               1321193 non-null  int64
 82  FEN_58               1321193 non-null  int64
 83  FEN_59               1321193 non-null  int64
 84  FEN_60               1321193 non-null  int64
 85  FEN_61               1321193 non-null  int64
 86  FEN_62               1321193 non-null  int64
 87  FEN_63               1321193 non-null  int64
 88  eval_anterior        1299782 non-null  float64
 89  pct_buenas           1321193 non-null  float64
 90  desconocida          1321193 non-null  float64
 91  pct_dudosas          1321193 non-null  float64
 92  mala                 1321193 non-null  float64
 93  pct_errores          1321193 non-null  float64
dtypes: float64(7), int64(77), object(10)
memory usage: 947.5+ MB

In [ ]:
df_ml.drop(columns=['FEN'], inplace=True)

df_ml.to_csv('../data/raw/df_ml.csv', index=False)